In [7]:
#import dependencies
import pandas as pd
import numpy as np
import csv

In [8]:
#read csv and turn into df
file = "water_system_summary.csv"

# Read our Kickstarter data into pandas
water_systems_df = pd.read_csv(file)
water_systems_df.head()

,PWS ID,PWS Name,EPA Region,Primacy Agency,PWS Type,Population Served Count,Cities Served,Counties Served,# of Facilities,# of Violations,# of Site Visits
0,IL3119792,PROFESSIONAL CONCRETE AND PAVING,Region 5,Illinois,Transient non-community system,30,-,DuPage,3,1,11
1,RI2755314,"WARRENS POINT BEACH CLUB, INC.",Region 1,Rhode Island,Transient non-community system,100,LITTLE COMPTON,Newport,5,6,24
2,GA3110069,TIMBERLANE WATER SYSTEM,Region 4,Georgia,Community water system,96,CLEVELAND,White,5,11,4
3,MN5390041,Ken-Mar-Ke Resort,Region 5,Minnesota,Transient non-community system,30,-,Lake of the Woods,8,0,6
4,GA3050039,JESUP HEALTH AND RDHAB,Region 4,Georgia,Community water system,68,JESUP,Wayne,4,33,3

In [28]:
# number of instances per state
water_systems_df = group_by_state["Primacy Agency"].value_counts()
print(len(water_systems_df))
state_counts

66

Primacy Agency            Primacy Agency
Alabama                   Alabama                       581
Alaska                    Alaska                       1405
American Samoa            American Samoa                127
Arizona                   Arizona                      1514
Arkansas                  Arkansas                     1054
California                California                   7499
Colorado                  Colorado                     2013
Connecticut               Connecticut                  2460
Delaware                  Delaware                      490
District of Columbia      District of Columbia            6
EPA Region 1              EPA Region 1                    5
EPA Region 10             EPA Region 10                 135
EPA Region 2              EPA Region 2                    9
EPA Region 4              EPA Region 4                   30
EPA Region 5              EPA Region 5                  106
EPA Region 6              EPA Region 6                   85
EPA Region 7              EPA Region 7                   14
EPA Region 8              EPA Region 8                  145
EPA Region 9              EPA Region 9                  310
Florida                   Florida                      5300
Georgia                   Georgia                      2370
Guam                      Guam                            9
Hawaii                    Hawaii                        134
Idaho                     Idaho                        1989
Illinois                  Illinois                     5433
Indiana                   Indiana                      4033
Iowa                      Iowa                         1822
Kansas                    Kansas                        986
Kentucky                  Kentucky                      435
Louisiana                 Louisiana                    1317
                                                      ...
Missouri                  Missouri                     2759
Montana                   Montana                      2190
Navajo Nation             Navajo Nation                 170
Nebraska                  Nebraska                     1347
Nevada                    Nevada                        592
New Hampshire             New Hampshire                2507
New Jersey                New Jersey                   3650
New Mexico                New Mexico                   1082
New York                  New York                     8486
North Carolina            North Carolina               5470
North Dakota              North Dakota                  411
Northern Mariana Islands  Northern Mariana Islands       70
Ohio                      Ohio                         4486
Oklahoma                  Oklahoma                     1638
Oregon                    Oregon                       2493
Pennsylvania              Pennsylvania                 8290
Puerto Rico               Puerto Rico                   466
Rhode Island              Rhode Island                  479
South Carolina            South Carolina               1408
South Dakota              South Dakota                  647
Tennessee                 Tennessee                     778
Texas                     Texas                        7017
US Virgin Islands         US Virgin Islands             266
Utah                      Utah                         1038
Vermont                   Vermont                      1404
Virginia                  Virginia                     2795
Washington                Washington                   4415
West Virginia             West Virginia                 873
Wisconsin                 Wisconsin                   11419
Wyoming                   Wyoming                       785
Name: Primacy Agency, Length: 66, dtype: int64

In [25]:
nitrate = pd.read_csv('Contaminants/nitrate.txt', low_memory = False, delimiter = '\t')

In [26]:
merge_df = pd.merge(water_systems_df, nitrate_values, on="PWSID", how="left")
merge_table.head()

ValueError: can not merge DataFrame with instance of type <class 'pandas.core.series.Series'>