In [1]:
#import dependencies
import pandas as pd
import numpy as np
import csv

In [2]:
#Create DataFrame for the Nitrate data
nitrate = pd.read_csv('Contaminants/nitrate.txt', low_memory = False, delimiter = '\t')

#only include rows that are nont NaN in the Value column
nitrate = nitrate[nitrate['Value'].notnull()]

#Create DataFrame for csv with detailed station location data
station_data = pd.read_csv('water_system_summary.csv')

In [5]:
nitrate.head(1)

,Analyte ID,Analyte Name,State Code,PWSID,System Name,System Type,Retail Population Served,Adjusted Total Population Served,Source Water Type,Water Facility ID,...,Sample Collection Date,Detection Limit Value,Detection Limit Unit,Detection Limit Code,Detect,Value,Unit,Presence Indicator Code,Residual Field Free Chlorine mg/L,Residual Field Total Chlorine mg/L
0,1040,NITRATE,AL,AL0000702,TAYLOR WATER SYSTEM,C,8208,8208,GW,728,...,2010-06-28 00:00:00.000,0.0,NaN,MDL,1,0.16,MG/L,NaN,NaN,NaN

In [6]:
station_data.head(1)

,PWS ID,PWS Name,EPA Region,Primacy Agency,PWS Type,Population Served Count,Cities Served,Counties Served,# of Facilities,# of Violations,# of Site Visits
0,IL3119792,PROFESSIONAL CONCRETE AND PAVING,Region 5,Illinois,Transient non-community system,30,-,DuPage,3,1,11

In [18]:
#merging on PWSID data
#"PWSID" in nitrate, "PWDID" in station_data
full_nitrate_data = pd.merge(nitrate, station_data, how = "left",
                            left_on = "PWSID", right_on = "PWS ID")

In [33]:
full_nitrate_data = full_nitrate_data[[
    'Analyte ID',
    'Analyte Name',
    'State Code',
    'EPA Region',
    'Cities Served',
    'Counties Served',
    'PWSID',
    'PWS Name',
    'PWS Type',
    'System Name',
    'System Type',
    'Retail Population Served',
    'Source Water Type',
    'Water Facility Type',
    'Sampling Point Type',
    'Sample Collection Date',
    'Value',
    'Unit',
    'Detection Limit Value',
    'Detection Limit Unit',
    'Detection Limit Code',
]]

In [34]:
full_nitrate_data['Water Facility Type'].value_counts()

WL    200945
TP    185608
SS    158358
DS     22377
SP      9000
RS      4383
CH      3240
OT      2995
TM      1716
CC      1606
ST       847
PF       651
CW       539
IN       438
WH       438
XX        96
PC        36
IG         1
CS         1
Name: Water Facility Type, dtype: int64