In [2]:
import pandas as pd
import csv

In [32]:
nitrate = pd.read_csv('Contaminants/nitrate.txt', low_memory = False, delimiter = '\t')

In [33]:
nitrate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1157522 entries, 0 to 1157521
Data columns (total 28 columns):
Analyte ID                            1157522 non-null int64
Analyte Name                          1157522 non-null object
State Code                            1157521 non-null object
PWSID                                 1157522 non-null object
System Name                           1157522 non-null object
System Type                           1155993 non-null object
Retail Population Served              1157522 non-null int64
Adjusted Total Population Served      1157522 non-null int64
Source Water Type                     1157522 non-null object
Water Facility ID                     1157522 non-null int64
Water Facility Type                   910377 non-null object
Sampling Point ID                     1157522 non-null int64
Sampling Point Type                   628590 non-null object
Source Type Code                      668006 non-null object
Sample Type Code                      783549 non-null object
Laboratory Assigned ID                570993 non-null object
Six Year ID                           1157522 non-null int64
Sample ID                             574493 non-null float64
Sample Collection Date                1157522 non-null object
Detection Limit Value                 923919 non-null float64
Detection Limit Unit                  737509 non-null object
Detection Limit Code                  904965 non-null object
Detect                                1157522 non-null int64
Value                                 710760 non-null float64
Unit                                  710760 non-null object
Presence Indicator Code               0 non-null float64
Residual Field Free Chlorine mg/L     39952 non-null float64
Residual Field Total Chlorine mg/L    5169 non-null float64
dtypes: float64(6), int64(7), object(15)
memory usage: 247.3+ MB

In [36]:
no_na_test = nitrate.iloc[:,0:25].dropna()

In [37]:
no_na_test.head(1)

,Analyte ID,Analyte Name,State Code,PWSID,System Name,System Type,Retail Population Served,Adjusted Total Population Served,Source Water Type,Water Facility ID,...,Laboratory Assigned ID,Six Year ID,Sample ID,Sample Collection Date,Detection Limit Value,Detection Limit Unit,Detection Limit Code,Detect,Value,Unit
3,1040,NITRATE,AL,AL0000702,TAYLOR WATER SYSTEM,C,8208,8208,GW,728,...,060119058-002,1069,68416.0,2006-01-18 00:00:00.000,0.0,MG/L,MDL,1,0.14,MG/L

In [38]:
set(no_na_test['State Code'])

{'AK',
 'AL',
 'AZ',
 'CT',
 'FL',
 'HI',
 'IA',
 'ID',
 'IL',
 'IM',
 'IN',
 'KS',
 'KY',
 'LA',
 'ME',
 'MI',
 'MN',
 'MT',
 'NC',
 'NJ',
 'NM',
 'NV',
 'NY',
 'OH',
 'OK',
 'OR',
 'RI',
 'SC',
 'SD',
 'UT',
 'VA',
 'VT',
 'WI',
 'WV',
 'WY'}